src/META-INF/wsdl/localhost_8080/DovizIslemleriPrj/DovizCeviriciWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.dovizislemleriprj.ptt.gov.tr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.dovizislemleriprj.ptt.gov.tr/">

<xs:element name="TLtoDollar" type="tns:TLtoDollar"/>

<xs:element name="TLtoDollarResponse" type="tns:TLtoDollarResponse"/>

<xs:element name="dollarToTL" type="tns:dollarToTL"/>

<xs:element name="dollarToTLResponse" type="tns:dollarToTLResponse"/>

<xs:complexType name="TLtoDollar">
<xs:sequence>
<xs:element name="p_TL" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TLtoDollarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dollarToTL">
<xs:sequence>
<xs:element name="p_dollar" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dollarToTLResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>